
@{ ViewBag.Title = "Check Out";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}



<div class="super_container">



    <div class="container contact_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Map Container -->

        <div class="row">
            <div class="col">
                <div id="google_map">
                    <div class="map_container">
                        <div id="map">

                            <div class="alert alert-dismissible alert-success text-center">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Well done!</strong> That  was a successful Transaction
                                @Html.ActionLink("Home", "Index", "Product")

                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>


</div>











@*<div class="card border-secondary mb-3" style="max-width: 20rem; margin: auto">
        <div class="card-header text-center">For Card Payment</div>
        <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-outline-warning">Click To Make Payment</button>

        </div>
    </div>*@
